.grid {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1.5rem;
  align-content: center;
}

@media (max-width: 368px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}

@media (max-width: 208px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  }
}